####################################
# DEFAULT: ignore EVERYTHING
####################################
*

####################################
# ===== WHITELIST =====
####################################

# Shell
!.bashrc
!.zshrc
!.zimrc

# Git
!.gitconfig
!.gitignore

# config directory
!.config/

# ghostty terminal
!.config/ghostty/
!.config/ghostty/**

# wezterm terminal
!.config/wezterm/
!.config/wezterm/**

# font settings
!.config/fontconfig
!.config/fontconfig/**

# Vim
!.vimrc
!.vim/
!.gvimrc
!.gvim/

# btop
!.config/btop/
!.config/btop/**

# Neovim
!.config/nvim/
!.config/nvim/**

# Tmux
!.tmux.conf
!.tmux/
!.config/tmux/
!.config/tmux/**
####################################
# END
####################################
