####################################
# DEFAULT: ignore EVERYTHING
####################################
*

####################################
# ===== WHITELIST =====
####################################

# Shell
!.bashrc
!.zshrc
!.zimrc

# Git
!.gitconfig
!.gitignore

# config directory and Wallpapers
!.config/
!Pictures/Wallpapers/**

# ghostty terminal
!.config/ghostty/
!.config/ghostty/**

# wezterm terminal
!.config/wezterm/
!.config/wezterm/**

# font settings
!.config/fontconfig
!.config/fontconfig/**

# Vim
!.vimrc
!.vim/
!.gvimrc
!.gvim/

# btop
!.config/btop/
!.config/btop/**

# Neovim
!.config/nvim/
!.config/nvim/**

# Neovim backup and swap files
!.config/nvim.bak/
!.config/nvim.bak/**

# Tmux
!.tmux.conf
!.tmux/
!.config/tmux/
!.config/tmux/**

# Yazi
!.config/yazi/
!.config/yazi/**

#Emacs
!.config/emacs/core/
!.config/emacs/core/**
!.config/emacs/init.el
!.config/emacs/early-init.el
!.config/emacs/theme/
!.config/emacs/theme/**

# Installation scripts
!install.sh

# niri
!.config/niri/
!.config/niri/**

#noctalia
!.config/noctalia/
!.config/noctalia/**

#useful scripts
!.config/rename_nvim_profile.sh
!README.md
####################################
# END
####################################
